{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}">
</head>
<body>
{% include 'parts/nav.html' %}
<div class="intro">
    <h2> Update your Account</h2>
<form method="POST" >
        {% csrf_token %}
         {{ form }}
            <input style="width: 400px" type="submit" value="save" id = 'but' onclick="window.open('{% url 'booksadmin' %}')">
    </form>
    </div>
</body>
</html>