body{
	margin: 0px;
	padding: 0px;
    background-color: #1a3345;
}

.maincontent{
	text-align: center;
    margin-top: 10%;
}
.maincontent h1{
	color: white;
	margin-bottom: 20px;
	font-size: 40px;
	font-style: italic;
}
.maincontent h2{
	color: white;
	margin-bottom: 20px;
	font-family: "Courier New";
	font-style: oblique;
}
.maincontent a{
  	border-radius: 20px;
  	font-weight: bold;
  	padding: 16px 30px;
  	font-size: 15px;
  	margin: 5px 1px;
  	cursor: pointer;
    display: inline-block;
    background-color: darkgreen;
    color: white;
    text-decoration: none;
}
